/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css");

* {
    font-family: 'Quicksand', sans-serif;
    /* font-size: 15px; */
}

.h-image-1 {
    display: none;
}

div.tooltip-inner {
    border-radius: 0px;
}

div.arrow::before {
    left: 9px !important;
}

div.progress {
    height: 5px;
    border-radius: 0px;
}

.w-85 {
    width: 85% !important;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.common-heading {
    text-align: center;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 10px;
}

.common-para-center-aligned {
    text-align: center;
}

.common-para-left-aligned {
    text-align: left;
}

.common-container {
    padding: 36px 10px 20px 10px;
}

.site-message-container {
    background-color: #6360fc;
    text-align: center;
    transition: 0.3s;
}

.site-message-container a {
    color: white;
    text-decoration: none;
}

.site-message-container p {
    margin: 0px;
    padding: 7px;
    font-weight: 600;
}

.site-message-container:hover {
    background-color: #0a06b7;
    font-weight: 700;
}

header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

.navbar-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.navbar-container-social {
    margin-left: auto;
}

.nav-item-text {
    font-weight: 500;
    font-size: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.social-icons i, .social-icons-footer i {
    color: #b5b3b9 !important;
    background-color: white;
    /* border-radius: 25px; */
    /* border: 1px solid #b6b5ba; */
}

.social-icons-footer{
    text-align: center;
    margin-bottom: 20px;
}

.social-icon {
    padding: 5px !important;
    font-size: 12px;
}

.social-icons i.social-icon:hover,
.social-icons-footer i.social-icon:hover{
    color: white !important;
    background-color: #6360fc;
    /* border: 1px solid #6360fc; */
}

.login-button {
    color: #6360fc;
    ;
    background-color: white;
    border: 1px solid #6360fc;
    margin-left: 4px;
    font-size: 15px;
}

.button-anchor {
    float: right;
}

.login-button:hover {
    color: white;
    background-color: #6360fc;
    border: 1px solid #6360fc;
}

.create-button {
    display: none;
}

.button-container {
    width: 20%;
}

.brand-text {
    font-weight: 700;
    color: white;
    background-color: #6360fc;
    padding: 10px;
}

.progress {
    position: relative !important;
}

#about-container {
    margin-top: 72px;
}

.about-container {
    padding: 80px 0px 0px 0px;
}

.welcome-msg {
    margin: 0px;
}

.user-name {
    font-weight: 700;
    font-size: 49px;
}

.about-btn-container {
    padding-top: 18px;
}

.my-work-btn,
.hire-me-btn {
    color: white;
    font-weight: 600;
    background-color: #6997e8;
    border: #6997e8;
    padding: 8px 23px 8px 23px;
    width: 130px;
    font-size: 15px;
}

.my-work-btn:hover,
.hire-me-btn:hover {
    border: 1px solid !important;
}

.welcome-msg,
.designation {
    font-weight: 400;
    font-size: 20px;
}

.designation {
    padding-top: 3px;
    /* padding-bottom: 18px; */
}

.user-image-container {
    padding: 30px;
}

.user-image {
    width: 100%;
    border-radius: 100%;
}


@media (max-width:500px) {
    .about-container {
        padding: 25px 25px 30px 25px;
    }

    .hire-me-btn {
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .my-work-btn {
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .user-image-container {
        padding-top: 0px;
    }
}

@media (max-width:991px) {

    ul.timeline-list:before,
    ul.timeline-list li:before {
        display: none;
    }

    ul.timeline-list li {
        margin-bottom: 22px;
    }

    .skills-exp-heading {
        margin-top: 35px;
    }

    ul.timeline-list li .timeline_content {
        width: unset !important;
    }

    #about-container {
        margin-top: 8px;
    }

    .social-icons {
        display: none;
    }

    .nav-item-text {
        border-bottom: 1px solid #e6e6e6;
    }

    .button-container {
        width: 100%;
        padding-left: 41px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .create-button {
        display: inline;
    }

    .button-anchor {
        float: left;
    }

    .h-image-2 {
        display: none;
    }

    .h-image-1 {
        display: block;
    }
}

.skills-exp-heading {
    text-align: center;
    font-weight: 700;
}

.skill-description {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
}

.tech-name {
    /* display: block !important; */
    text-align: center;
}

.progress-bar-container {
    width: 100%;
    min-height: 94px;
    margin: 0px auto;
    display: block;
}

.progress-bar-item {
    display: block;
    margin: 0 auto;
    width: 82px;
    position: relative;
}

.skill-description-1 {
    text-align: justify;
}

.work-skill-head {
    font-weight: 700;
}

.barWrapper {
    padding-top: 15px;
    padding-bottom: 5px;
}

.other-skill-h {
    margin-top: 30px;
    margin-bottom: 20px;
}

.skills-exp-heading {
    text-align: center;
    font-weight: 700;
}

/* time line css */
.pt-100 {
    padding-top: 25px;
}

.pb-100 {
    padding-bottom: 15px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title p {
    color: #777;
    font-size: 16px;
}

.section-title h4 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ff3636;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.section-title h4:after {
    position: absolute;
    background-color: #ff3636;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

ul.timeline-list {
    position: relative;
    margin: 0;
    padding: 0
}

ul.timeline-list:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #cdcdcd;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul.timeline-list li {
    position: relative;
    clear: both;
    display: table;
}

.timeline_content {
    border: 1px solid #ff3636;
    background-color: #fff;
    border-radius: 5px;
}

ul.timeline-list li .timeline_content {
    width: 45%;
    color: #333;
    padding: 10px 22px;
    float: left;
    /* text-align: right; */
}

ul.timeline-list li:nth-child(2n) .timeline_content {
    float: right;
    text-align: left;
}

.timeline_content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: green;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

ul.timeline-list li:nth-child(odd):before {
    background-color: #ff3636;
}

.timeline_content span {
    font-weight: 700;
}

p.designation {
    font-weight: 700;
}

ul.timeline-list li:nth-child(odd) p.designation {
    color: #ff3636;
}

ul.timeline-list li:nth-child(even) p.designation {
    color: green;
}

ul.timeline-list li:nth-child(odd) div.timeline_content {
    border: 1px solid #ff3636;
}

ul.timeline-list li:nth-child(even) div.timeline_content {
    border: 1px solid green;
}

.company-description {
    margin: 0px !important;
}

.exp-co-logo {
    height: 50px;
}

.exp-co-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.exp-co-container span {
    position: absolute;
    margin-left: 10px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}